
<div class="container-fluid banner">  
    <div class="row">
        <div class="col-sm-4">
            <h1>
               MyBookShelf 
            </h1>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <%= render '/sessions/login' %>
        </div>
    </div>
</div>
  

<div class="center">
    <%= flash[:notice] %>
    <%= flash[:danger] %>
    
    <h1 class="">Welcome to MyBookShelf</h1>

    <h3 class="tagline">Keep track of your favorite books and discover new ones</h3> 

    <br></br>

    <%= link_to "Sign Up", signup_path, class: "btn-lg btn-primary" %> 

    <%= link_to "Log in with Github", "/auth/github", class: "btn-lg btn-primary" %>
</div>
 

    