<h1><%= flash[:success] %></h1>
  
<div class="book_list">
  <h1 class="mybooks">My Books</h1>

  <div class="scrolling-wrapper">
    <% @my_books.each do |book| %>
          <%= render partial: "book_list", locals: { book: book, user: @user } %>
    <% end %>
  </div>
  
</div><br>
<%= link_to "Add Book from Library", books_path, class:"btn btn-primary" %> 
<%= link_to "Create New Book", new_book_path, class:"btn btn-primary" %>

<div class="book_list">
  <h1>Highly Rated Books</h1>

  <div class="scrolling-wrapper">
    <% @highly_rated_books.each do |book| %>
      <%= render partial: "book_list", locals: { book: book, user: @user } %>
    <% end %>
  </div>
</div>


<div class="book_list">
  <h1>Popular Books</h1>

  <div class="scrolling-wrapper">
    <% @popular_books.each do |book| %>
      <%= render partial: "book_list", locals: { book: book, user: @user } %>
    <% end %>
  </div>
</div>


<br></br>
<a href="https://icons8.com">Icon pack by Icons8</a>
