<%= form_for [@user, @book] do |f| %>
  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@book.errors.count, "error") %>
      prohibited this book from being saved:
    </h2>

    <ul>
    <% @book.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :author_name %>
  <%= f.text_field :author_name, list: "authors_autocomplete" %>
    <datalist id="authors_autocomplete">
      <% Author.all.each do |author| %>
        <option value="<%= author.name%>">
      <% end %>
    </datalist>
  <br>

  <%= f.label :genre %>
  <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
  <%= f.fields_for :genres do |g| %>
    <%= g.text_field :name %>
  <% end %>
  <br>


  <%= f.label :rating %>
  <%= f.fields_for :ratings do |r| %>
    <%= r.number_field :stars %>
  <% end %><br>

  
  <%= f.submit %>
<% end %>
