
<% if params[:user_id] %>
  <h1>MyBooks</h1>
<% else %>
  <h1>All Books</h1>
<% end %>

<button id="sort-button">Sort by Average user rating</button>

<ol>
  <% @books.each do |book| %>
    <div class="book_list">
      <h4><li><%= link_to book.name, book_path(book) %></h4>
      <p>by: <%= link_to book.author_name, author_path(book.author) %></p>

      <% book.genres.each do |g| %>
        <p><%= link_to g.name, genre_path(g) %></p>
      <% end %>

      <% if !book.ratings.empty? %>
      <p>Average User Rating: <%= pluralize(book.average_star_rating, 'star') %></p>
      <% end %>

      <% if current_user.books.include?(book) %>
        <p>My Rating: <%= pluralize(book.ratings.where(user_id: current_user.id).pluck(:stars)[0], 'star') %></p> 
      <% end %>
      </li> 
    </div> 
    <br>  
  <% end %>
</ol>
<br></br>
<h3>Don't see the book you're looking for?</h3>
<%= link_to "Create New Book", new_user_book_path(current_user), class:"btn btn-primary"%>
<br></br>





