
<h1>All Books</h1>

<%= flash[:notice] %>

<ol>
  <% @books.each do |book| %>
    <h4><li><%= link_to book.name, book_path(book) %></h4>
      <ul>
        <li>Author: <%= link_to book.author_name, author_path(book.author) %></li>
        <li>Genres: 
          <ul>
            <% book.genres.each do |genre| %>
              <li><%= link_to genre.name, genre_path(genre) %></li>
            <% end %></li>
          </ul>
        </li>
        <li>Average User Rating: <%= pluralize(book.ratings.average(:stars), 'star') %></li>
      </ul>

      <%= render partial: "add_book", locals: { book: book } %>
      
    </li>
    <br></br>
    
  <% end %>
</ol>




