<h1><%= @book.name %></h1>

<%= flash[:notice] %>

<h3>By: <%= link_to @book.author_name, author_path(@book.author) %></h3><br>
<h4>Genres:</h4>
<ul>
  <% @book.genres.each do |g| %>
    <li><%= link_to g.name, genre_path(g) %></li>
  <% end %>
</ul>

<%= render partial: "books/add_book", locals: { book: @book } %><br></br>
