<!DOCTYPE html>
<html>
  <head>
    <title>MyBookShelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% unless current_page?(root_path) || current_page?(signup_path) %>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "MyBookShelf", user_path(current_user), id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", user_path(current_user) %></li>
              <li><%= link_to "Browse Books", "#" %></li>
              <li><%= link_to "Log out", '#' %></li>
            </ul>
          </nav>
        </div>
    </header>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
